body {
  background-color: #212121;
  color: #fafafa !important;
}

h3 {
  padding: 0;
  color: #fafafa;
}

h4 {
  color: #fafafa;
}


p {
  color: #fafafa;
}

ul {
  color: #fafafa;
}

.MuiPaper-root {
  padding: 10px;
  margin: 10px;
}
